html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

p {
    color: #B0B0B0;
}


h1, h5 {
    color: #E6e6e6;
}

h2, h4 {
    color: var(--accent);
}

/* Homepage */

.intro {
    /*transform: translateY(10vh) translateX(-18vh);*/
    width: 500px;
    opacity: .90;
    /*text-align: right*/
}

.intro > h1 {
    padding-top: 10vh;
    font-size: 12vh;
}

.intro > h2 {
    font-size: 3vmin;
    text-space: 15px;
}

.intro > h4 {
    opacity: .6;
    font-weight: 200;
    font-size: 1.8vh;
}

@media only screen and (max-width: 900px) {

    .intro {
        /*transform: translateY(10vh) translateX(-18vh);*/
        opacity: .90;
        width: 80%;
        margin: auto auto;
        /*text-align: right*/
    }

    .intro > h1 {
        font-size: 4em;
        padding-top: 1vh;
    }

    .intro > h2 {
        font-size: 8em;
        text-space: 15px;
    }

    .intro > h4 {
        opacity: .6;
        font-weight: 200;
        /*font-size: .5em;*/
    }

}

/* Page content */

.content {
    background-color: var(--bg-color);
    opacity: .70;
    padding-top: 10px;
    padding-botton: 10px;
}

/* Profile picture */

.profile {
    height: 100%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}


.nav>li>a:focus, .nav>li>a:hover {
    background-color: #2C2C2C !important;
}

.nav {
    background-color: var(--bg-color);
    opacity: .85;
}

.navbar-nav {
    margin: 0;
}

.nav>ul {
    padding-bottom: 0;
}


.icon-bar {
    background-color: var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}


