
<div class="picture-container">

    <div class="pictures w3-content w3-display-container">
    {{ range .Pages }}
        <img class="pictures-{{ .Parent.Title }}" src="{{ .Params.image }}">
    {{ end }}


        {{ if gt (.Pages | len)  1 }}
        <div class="w3-center w3-display-middle" style="width:100%">
            <button class="image-nav w3-left" onclick='plusDivs(-1, "pictures-{{ .Params.Title }}")'>&#10094;</button>
            <button class="image-nav w3-right" onclick='plusDivs(+1, "pictures-{{ .Params.Title }}")'>&#10095;</button>
        </div>
        {{ end }}
    </div>

    <script>
    var slideIndex = 1;
    showDivs(slideIndex, "pictures-{{ .Params.Title }}");
    </script>

</div>