{{ partial "header" . }}

<main>

    <script>
        function plusDivs(n, className) {
          showDivs(slideIndex += n, className);
        }

        function showDivs(n, className) {
          var i;
          var x = document.getElementsByClassName(className);
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          x[slideIndex-1].style.display = "block";
        }
    </script>

    <div class="picture-container">
        <div class="picture-header"><h2>{{ .Title }}</h2></div>
        {{ range .Sections.ByWeight }} {{ partial "list-images" . }} {{ end }}
    </div>

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
